@font-face {
  font-family: "NotoSansTC";
  src: url("./NotoSansTC-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSansTC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
}
header section.logo {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section.logo img {
  width: 200px;
}
header section.logo h1 {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
header nav {
  flex: 9 1 900px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: all ease-in-out 0.2s;
  padding-bottom: 0.2rem;
}
header nav ul li a:hover {
  color: #0b9ef9;
  border-bottom: 3px solid #0b9ef9;
}

main section.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}
main section.slideshow div.mySlides {
  max-height: 70vh;
  overflow: hidden;
  display: none;
  position: relative;
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
main section.slideshow div.mySlides div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
main section.slideshow div.mySlides div.filter h3 {
  color: white;
  font-size: 3rem;
  text-align: right;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: 15rem;
  right: 5rem;
  width: 100%;
}
main section.slideshow div.mySlides img {
  z-index: -1;
  max-width: 100%;
  height: auto;
}
main .content-title {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: 10px solid orange;
}
main .sec-container {
  padding: 3rem 5rem;
}
main section.popular {
  position: relative;
}
main section.popular button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
}
main section.popular button:first-of-type {
  left: 3rem;
}
main section.popular button:last-of-type {
  right: 3rem;
}
main section.popular button i {
  font-size: 2rem;
  color: rgba(83, 83, 83, 0.4235294118);
  cursor: pointer;
}
main section.popular button i:hover {
  color: rgba(83, 83, 83, 0.8980392157);
}
main section.popular div.swipe-container {
  padding: 1rem 0;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
main section.popular div.swipe-container::-webkit-scrollbar {
  height: 4px;
}
main section.popular div.swipe-container::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  margin: 0 40vw;
}
main section.popular div.swipe-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(83, 83, 83, 0.4235294118);
}
main section.popular div.swipe-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(83, 83, 83, 0.8980392157);
}
main section.popular div.swipe-container div.swipe-wrapper {
  display: flex;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.5rem;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide {
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  height: 320px;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a {
  color: #000000;
  text-decoration: none;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card img {
  width: 100%;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body h4 {
  font-weight: bold;
  font-size: 1.15rem;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body div {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body div span.star {
  color: orange;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body div span {
  color: gray;
}
main section.popular div.swipe-container div.swipe-wrapper div.swipe-slide a div.swipe-card div.card-body p {
  font-size: 1.5rem;
}
main section.categories div.cate-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
main section.categories div.cate-container div.twelveCategoryImage img {
  width: 500px;
}
main section.categories div.cate-container div.twelveCategory {
  max-width: 50rem;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
main section.categories div.cate-container div.twelveCategory a {
  text-decoration: none;
  color: #000000;
  height: -moz-fit-content;
  height: fit-content;
}
main section.categories div.cate-container div.twelveCategory a div {
  width: 10rem;
  height: 4rem;
  background-color: rgba(106, 196, 252, 0.3882352941);
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
main section.categories div.cate-container div.twelveCategory a div:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
  background-color: rgba(106, 196, 252, 0.568627451);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
main section.categories div.cate-container div.twelveCategory a div img {
  width: 40px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  main section.categories div.cate-container div.twelveCategory {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  main section.categories div.cate-container {
    flex-direction: column;
  }
  main section.categories div.cate-container div.twelveCategoryImage img {
    display: block;
    width: 60%;
    margin: auto;
  }
  main section.categories div.cate-container div.twelveCategory {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  main section.categories div.cate-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section.categories div.cate-container div.twelveCategoryImage img {
    display: block;
    width: 80%;
    margin: auto;
  }
  main section.categories div.cate-container div.twelveCategory {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  main section.categories div.cate-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section.categories div.cate-container div.twelveCategoryImage img {
    display: none;
  }
  main section.categories div.cate-container div.twelveCategory {
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    margin: auto;
  }
}
main section.articles div.arti-container {
  margin: 2rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template: 1fr 1fr 0.1fr/1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  max-width: 1300px;
}
main section.articles div.arti-container div.article-card {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  background-color: white;
  padding: 1rem 0;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 600px;
  min-width: 380px;
}
main section.articles div.arti-container div.article-card div.card-info {
  color: gray;
  margin-bottom: 1rem;
}
main section.articles div.arti-container div.article-card div.card-info span {
  font-size: 0.8rem;
  margin-right: 1rem;
}
main section.articles div.arti-container div.article-card div.card-body {
  margin-bottom: 1rem;
}
main section.articles div.arti-container div.article-card div.card-body a.arti-link {
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  color: #000000;
  display: grid;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas: "title image" "text image";
}
main section.articles div.arti-container div.article-card div.card-body a.arti-link h5 {
  font-size: 1rem;
  font-weight: bold;
  grid-area: title;
}
main section.articles div.arti-container div.article-card div.card-body a.arti-link p {
  font-size: 0.8rem;
  grid-area: text;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2em;
}
main section.articles div.arti-container div.article-card div.card-body a.arti-link img {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  min-width: 150px;
  grid-area: image;
}
main section.articles div.arti-container div.article-card div.card-tag {
  display: flex;
}
main section.articles div.arti-container div.article-card div.card-tag div.tags {
  font-size: 0.6rem;
  background-color: hsla(203, 89%, 72%, 0.2);
  padding: 0.2rem 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
main section.articles div.arti-container div.article-card div.card-tag div.tags:hover {
  transition: all 0.3s ease-in-out;
  background-color: hsla(203, 95%, 51%, 0.4);
}
main section.articles div.arti-container div.article-card div.card-tag div.bookmark-keep {
  margin-left: auto;
  font-size: 1rem;
  color: orange;
  cursor: pointer;
}
main section.articles div.arti-container a.more {
  text-align: right;
  text-decoration: none;
  color: #0b9ef9;
}
main section.articles div.arti-container a.more:hover {
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  main section.articles div.arti-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr;
  }
}
main section.join-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../img/content4-25.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
main section.join-us div.text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.join-us div.text a {
  text-decoration: none;
  color: #08639c;
  font-weight: bold;
  font-size: 6rem;
  transition: all 0.3s ease-in-out;
}
main section.join-us div.text a:hover {
  transform: scale(1.1);
  text-decoration: underline;
  text-underline-offset: 2rem;
  text-decoration-color: orange;
}
main section.join-us div.image {
  padding: 2rem 1rem;
}
main section.join-us div.image img {
  width: 45vw;
  border-radius: 100px 0 100px 0;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  main section.join-us div.text a {
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  main section.join-us div.text a {
    font-size: 4rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  main section.join-us {
    grid-template-columns: unset;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas: "joinImg" "joinText";
  }
  main section.join-us div.text {
    grid-area: joinText;
  }
  main section.join-us div.text a {
    font-size: 4rem;
  }
  main section.join-us div.image {
    grid-area: joinImg;
    display: flex;
  }
  main section.join-us div.image img {
    width: 85vw;
    border-radius: 100px 0 100px 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  main section.join-us {
    grid-template-columns: unset;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas: "joinImg" "joinText";
  }
  main section.join-us div.text {
    grid-area: joinText;
  }
  main section.join-us div.text a {
    font-size: 3rem;
  }
  main section.join-us div.image {
    grid-area: joinImg;
    display: flex;
  }
  main section.join-us div.image img {
    width: 85vw;
    border-radius: 100px 0 100px 0;
    margin: 0 auto;
  }
}

footer {
  background-color: #003d61;
  padding: 80px;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template-columns: 1.5fr 3fr 1.5fr;
}
footer h5 {
  font-size: large;
  color: orange;
  margin-bottom: 0.5rem;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer a:hover {
  color: white;
}
footer i {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
footer i:hover {
  color: white;
}
footer div.logo a img {
  width: 300px;
}
footer div.middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer div.right div.apps a img {
  width: 150px;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */